body{
    background-color: pink;
}
p{
    color: red;
}
#todo{

    height: auto;
    display:flex;

}

#esquerda{
    width: 50%;
    height: auto;
   
    
}
#direita{
    width:50%;
    height: auto;
   
}
#img{
    width: 50%;
    height: auto;
}